.footer,
.footer__content {
  display: flex;
  align-items: center;
}

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 3px solid rgb(165, 165, 165);
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  margin: 0 auto;
  transform: translateX(45px);
}

.footer__date {
  font-weight: 900;
}

.footer__link {
  height: 25px;
  transition: 0.4s;
}

.footer__link:hover {
  opacity: 0.7;
}

.footer__link-icon {
  height: 100%;
}

.lang__switch {
  background: transparent;
  outline: none;
  border-radius: 5px;
  font-size: inherit;
}