footer {
  margin-bottom: 30px;
}

.footer-content,
.footer-content-wrap {
  display: flex;
  align-items: center;
}

.footer-content {
  padding: 20px 0;
  border-top: 3px solid rgb(165, 165, 165);
}

.footer-content-wrap {
  margin: 0 auto;
  transform: translateX(45px);
}

.footer-content-wrap a {
  transition: 0.4s;
}

.footer-content-wrap a:hover {
  opacity: 0.7;
}

.github_ref,
.date_footer {
  margin-right: 15px;
}

.github_img,
.rss_img {
  height: 25px;
  vertical-align: sub;
}

.date_footer {
  font-weight: 900;
}

.lang-switch {
  background: transparent;
  outline: none;
  border-radius: 5px;
  font-size: inherit;
}