footer {
  margin-bottom: 30px;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 3px solid rgb(165, 165, 165);
}


.github_lg,
.rss_lg,
.date_footer {
  margin: 0 10px;
}

.github_lg,
.rss_lg {
  height: 25px;
}

.date_footer {
  font-weight: 900;
}