.wrap-h1-burger {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
}

h1 {
  display: inline-block;
  margin: 0;
  font-size: 36px;
  border-bottom: 3px solid rgb(165, 165, 165);
}

.burger__menu {
  display: none;
  margin: 10px;
  cursor: pointer;
  transition: 0.4s;
  z-index: 999;
}

.burger__menu span {
  display: block;
  width: 45px;
  height: 9px;
  transition: 0.4s;
  background-color: rgb(153 2 2);
}

.burger__line_top {
  margin-bottom: 10px;
}

.menu__active .burger__line_top {
  transform: rotate(45deg) translate(13px) scale(0.7);
}

.menu__active .burger__line_bottom {
  transform: rotate(-45deg) translate(13px) scale(0.7);
}

.contacts-wrap {
  display: flex;
  justify-content: space-between;
}

.photo {
  width: 230px;
  height: 230px;
  margin-right: 30px;
  border-radius: 50%;
  border: 5px solid #999999;
  background-image: url("../media/photo.jpg");
  background-size: 110%;
  background-position: 30% 0%;
  background-repeat: no-repeat;
}

.contacts-items {
  padding: 0;
  list-style: none;
}

.contacts-item {
  margin: 10px;
}

.objective-section p {
  font-size: 20px;
  font-weight: 900;
  text-decoration: underline;
}

.text_indent {
  text-indent: 30px;
}

.project-wrap {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.project-item {
  display: block;
  width: 380px;
  height: 190px;
  margin: 15px 5px;
  border: 1px solid black;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.4s;
  filter: grayscale(100%) brightness(0.4);
}

.project-one {
  background-image: url("../media/project1.png");
}

.project-two {
  background-image: url("../media/project2.png");
}

.project-item:hover {
  transform: scale(1.2);
  filter: none;
  z-index: 99;
}

.code-example {
  overflow: auto;
}