@media all and (max-width: 915px) {
  h1 {
    border-bottom: none;
    text-shadow: 0px 5px 5px #676767;
  }

  nav {
    position: absolute;
    top: -460px;
    right: 0;
    padding: 5px 45px 15px;
    background: rgb(248 201 80 / 85%);
    border-bottom: none;
    opacity: 0;
    box-shadow: 0px 12px 20px 0px rgb(58 58 58 / 50%);
  }

  .nav-header {
    display: block;
  }

  .nav-items {
    display: block;
    padding: 0;
  }

  .nav-item {
    padding: 5px;
  }

  .nav-item:first-child {
    border-top: 2px solid black;
  }

  .nav-item:last-child {
    border-bottom: 2px solid black;
  }

  .nav-item a {
    border: none;
    font-size: 23px;
    font-weight: 200;
    text-shadow: 0px 0px 10px rgb(255 255 255);
  }

  .wrap-h1-burger {
    margin: 20px 0;
    border-bottom: 3px solid rgb(165, 165, 165);
  }

  .burger__menu {
    display: block;
  }
}

@media all and (max-width: 760px) {
  body {
    font-size: 16px;
  }

  .container {
    padding: 5px 20px;
  }

  h1 {
    font-size: 33px;
  }

  .wrap-h1-burger {
    margin-bottom: 20px;
  }

  .menu__active {
    right: 152px;
  }

  .photo {
    width: 200px;
    height: 200px;
  }

  .project-item {
    width: 270px;
    height: 180px;
  }
}

@media all and (max-width: 640px) {

  section,
  header,
  footer {
    padding: 0 10px;
  }

  .container {
    padding: 5px 10px;
  }

  .contacts-wrap {
    flex-wrap: wrap-reverse;
  }

  .photo {
    margin: 0 auto;
  }

  .project-item:hover {
    transform: none;
  }
}

@media all and (max-width: 438px) {
  nav {
    left: 0;
  }

  .nav-hidden {
    top: 127px;
  }
}

@media all and (max-width: 360px) {
  h1 {
    font-size: 30px;
  }

  p {
    line-height: 26px;
  }

  .nav-hidden {
    top: 119px;
  }

  .github_lg,
  .rss_lg,
  .date_footer {
    margin: 0 10px;
  }
}