@media all and (max-width: 915px) {
  body {
    overflow: hidden;
  }

  .nav {
    position: absolute;
    top: 110px;
    right: -230px;
    padding: 5px 45px 15px;
    background: rgb(248 201 80 / 85%);
    border-bottom: none;
    box-shadow: 0px 12px 20px 0px rgb(58 58 58 / 50%);
  }

  .nav--show {
    right: 0;
  }

  .nav__title {
    display: block;
  }

  .nav__items {
    display: block;
    padding: 0;
  }

  .nav__item {
    padding: 5px;
  }

  .nav__item:first-child {
    border-top: 2px solid black;
  }

  .nav__item:last-child {
    border-bottom: 2px solid black;
  }

  .nav__link {
    border: none;
    font-size: 23px;
    font-weight: 200;
    text-shadow: 0px 0px 10px rgb(255 255 255);
  }

  /* .......................................... */

  .title-and-burger {
    position: sticky;
    top: 0;
    padding-top: 10px;
    padding-bottom: 20px;
    margin: 20px 0;
    border-bottom: 3px solid rgb(165, 165, 165);
    background-color: inherit;
    z-index: 9;
  }

  .title {
    border-bottom: none;
    text-shadow: 0px 5px 5px #676767;
  }

  .burger {
    display: block;
  }
}

@media all and (max-width: 760px) {
  body {
    font-size: 16px;
  }

  .container {
    padding: 5px 20px;
  }

  /* ...................... */

  .title-and-burger {
    margin-bottom: 20px;
  }

  .title {
    font-size: 33px;
  }

  .burger--active {
    right: 152px;
  }

  /* ...................... */

  .contacts__photo {
    width: 200px;
    height: 200px;
  }

  /* ...................... */

  .projects-item {
    width: 270px;
    height: 180px;
  }
}

@media all and (max-width: 640px) {
  .container {
    padding: 5px 10px;
  }

  .contacts {
    flex-wrap: wrap-reverse;
  }

  .contacts__photo {
    margin: 0 auto;
  }

  .footer {
    justify-content: space-between;
  }

  .footer__content {
    transform: none;
    margin: 0;
  }
}

/* @media all and (max-width: 438px) {
  .nav {
    left: 0;
  }

  .nav--show {
    top: 127px;
  }
} */

@media all and (max-width: 360px) {
  p {
    line-height: 26px;
  }

  /* .nav--show {
    top: 119px;
  } */

  .title {
    font-size: 30px;
  }

  .skills__list {
    padding-left: 10px;
  }

  .lang__title {
    display: none;
  }
}