body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

.container {
  max-width: 70%;
  padding: 20px 50px;
  margin: 20px auto;
  background-color: beige;
  box-sizing: border-box;
}

h1 {
  display: inline-block;
  border-bottom: 3px solid rgb(165, 165, 165);
}

h2 {
  background-color: rgb(190, 184, 184);
}

.photo {
  float: right;
  width: 170px;
  margin-top: 30px;
}

.contacts {
  padding: 0;
  list-style: none;
}

.objective p {
  font-size: 20px;
  font-weight: 900;
  text-decoration: underline;
}

.text_indent {
  text-indent: 30px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  border-top: 3px solid rgb(165, 165, 165);
}

.github_lg,
.rss_lg,
.date_footer {
  margin: 0 15px;
}

.github_lg {
  width: 30px;
}

.rss_lg {
  width: 100px;
}

.date_footer {
  font-weight: 900;
}
